@import "./_variables.scss";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button{
    cursor:pointer;
    border: 0;
}
input{
    outline: 0;
    border: 0;
    &:focus{
        outline: 0;
        border: 0;
    }
}

li, a{
    list-style: none;
    text-decoration: none;
    color: #222;
}




body{
    min-width: 100vw;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: grid;
    grid-template-rows: min(80px, 10vh) 1fr;
    font-size: 16px;
    color: #222;

}